<h1 class="center">Welcome to <%=@user.username%>'s page</h1>

<!-- display the user image for the user which has an image with any given email address -->

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%=gravatar_for @user %>
    
  </div>
</div>
<h4 class="center"><%= @user.username %>'s articles</h4>
<%= render 'articles/article', obj: @user.articles %>
  
  
  
